
@{
	Layout = "_Layout";
}

@* <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1"> *@

<title>Registration Successful</title>

<!-- Google font -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">

<link type="text/css" rel="stylesheet" href="~/css/RegistrationSuccessful/style.css" />


@* </head>
<body> *@

<div id="notfound">
	<div class="notfound">
		<div>
			<div class="notfound-404">
				<h4>!</h4>
			</div>
			<h6>Registration<br>Successful</h6>
		</div>
		<p>Before you can Login, please confirm your email, by <a style="color: red">clicking on the confirmation link we have emailed you. </a></p>
	</div>
</div>

@* </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html> *@