@model OnlineShoppingApp.ViewModels.ForgotPasswordViewModel


@* 
@{
    Layout = "_Login";
} *@

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/OnlineShoppingApp.styles.css" asp-append-version="true" />

<!--===============================================================================================-->
<link rel="icon" type="image/png" href="~/images/design/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
@* <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css"> *@
<!--===============================================================================================-->
@* <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css"> *@
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/css/login/util.css">
<link rel="stylesheet" type="text/css" href="~/css/login/main.css">
<style>
    a:hover {
        cursor: pointer;
    }

    .custom-validation-summary ul {
        margin: 0;
        padding: 0;
    }

    .custom-validation-summary li {
        margin-bottom: 5px;
    }
</style>

<div class="limiter">
    <div class="container-login100" style="background-image: url('images/design/bg-01.jpg');">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-62 p-b-33">
            <form class="login100-form validate-form flex-sb flex-w" form method="post">
                <span class="login100-form-title p-b-53">
                    Enter your email
                </span>

                @if (ViewBag?.message != null)
                {

                    <div class="alert alert-success" style="width: 100%"> @ViewBag.message</div>
                }
                <div class="p-t-31 p-b-9">
                    <span class="txt1">
                        Email
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Email is required: ex@abc.xyz">
                    <input class="input100" type="text" asp-for="Email">
                </div>

                <div class="wrap-input100 validate-input" style="border: none; border-radius:0; background-color:white">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>



                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">
                        Reset Password
                    </button>

                </div>

            </form>

        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<!--===============================================================================================-->
<script src="~/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/daterangepicker/moment.min.js"></script>
<script src="~/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="~/js/site.js"></script>
@* <h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control"  placeholder="name@example.com" />
                <label asp-for="Email" class="form-label"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
        @if (ViewBag?.message != null){

        <div> @ViewBag.message</div>
        }
    </div>
</div>
 *@