@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5">
    <div><i class="ti-receipt fa-3x" style="color: #F7941D;"></i></div>
    <h2>Thank you.  Your order is confirmed and Payment Pending On Cash</h2>
    <p class="mb-4">Your order has not shipped yet, but this is to be expected as we are not a real store</p>
    <a asp-area="" asp-controller="Home" asp-action="Index"><button class="btn">Go To Shopping</button></a>
</div>