<link rel="stylesheet" href="~/css/tooltip/tooltip.css">
@* <div id="content"> *@

	<div class="help-tip">
	<p>Please upload either your <a style=" color: #F7941D;">Certificate of Business Registration, </a>  which verifies your business's official registration, or a <a style=" color: #F7941D;">Government-Issued ID</a> for identity verification.</p>
	</div>
@* </div> *@